::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #1bbc9b;
}

::-webkit-scrollbar-thumb:hover {
  background: #157c67;
}

h2,
h3,
h4,
h5 {
  color: #2d3e50;
}

.lead {
  text-align: justify;
  color: #333;
}

.card {
  width: 500px;
  border: none;
  -webkit-box-shadow: 4px 11px 103px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 11px 103px -42px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 11px 103px -42px rgba(0, 0, 0, 0.75);
}

.carousel-inner {
  height: 500px;
}

@media (max-width: 992px) {
  .card {
    margin-top: 2rem;
    width: fit-content;
  }
  .carousel-inner {
    height: 400px;
  }
}

@media (max-width: 574px) {
  .carousel-inner {
    height: 200px;
  }
}
